$orange: #FFC85E;
$gray: #3F4E65;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.App {
  text-align: left;
  font-family: "Inter";
}

body{
  &.opened{
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;

}




.brandList label {
  display: block;
}




.header {
  &__top {
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);


    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13px 0;
    }

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__nav {
    ul {
      display: flex;
      gap: 60px;

      li {
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: $gray;
          transition: all .3s ease;

          &:hover {
            color: $orange;
            transition: all .3s ease;
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    gap: 41px;

    &-item {
      display: flex;
      align-items: center;

      .info {
        text-align: left;
        margin-left: 18px;

        p {
          font-weight: 600;
          font-size: 14px;
          line-height: 130.02%;
          color: #111111;
        }

        span {
          font-weight: 300;
          font-size: 12px;
          color: #3f4e65;
        }

        a {
          font-weight: 400;
          font-size: 10px;
          line-height: 150%;
          color: #3F4E65;
          text-decoration: underline;
          display: block;
          transition: .3s ease;

          &:hover {
            text-decoration: none;
            transition: .3s ease;
          }
        }

      }


    }
  }

  &__bottom {
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);


    &-wrap {
      padding: 3px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 165px;
        height: 66px;

        @media (max-width: 1199px) {
          width: 97px;
          height: 41px;
        }
      }


      .header__contacts {
        &-item {
          .info {
            text-align: right;
          }

        }
      }

      @media (max-width: 1199px) {

        .button,
        .search,
        .header__contacts {
          display: none;
        }
      }

    }

    .open__mobile {
      display: none;
      background: #FFC85E;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      align-items: center;
      position: relative;
      justify-content: center;

      span {
        width: 8px;
        height: 2px;
        background-color: white;
        position: relative;
        transition: .3s ease;

        &:after {
          content: '';
          width: 8px;
          height: 2px;
          background-color: white;
          position: absolute;
          top: -3px;
          transition: .3s ease;
        }

        &:before {
          content: '';
          width: 8px;
          height: 2px;
          background-color: white;
          position: absolute;
          top: 3px;
        }
      }

      &.active {
        span {
          transform: rotate(45deg);
          transition: .3s ease;

          &::after {
            content: '';
            top: 0;
            transform: rotate(-90deg);
            transition: .3s ease;
          }

          &::before {
            display: none;
          }
        }
      }

      @media (max-width: 1199px) {
        display: flex;
      }
    }

  }

  &__mobile {
    display: none;

    @media (max-width: 1199px) {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(63, 78, 101, 0.2);
      justify-content: space-between;
    }

  }

  .mobile {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1111117a;
    z-index: 5;

    &__wrap {
      background: white;
      padding: 20px 15px;


      .header__contacts-item {
        margin-bottom: 15px;

        .info {
          span {
            display: block;
          }
        }
      }

      .call {
        display: flex;
        align-items: center;

        p {
          font-weight: 400;
          font-size: 10px;
          line-height: 150%;
          text-decoration-line: underline;
          color: #3F4E65;
          margin-left: 7px;
        }
      }

    }

    &__menu {
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px dashed rgba(63, 78, 101, 0.2);

      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #3F4E65;
        margin-bottom: 25px;
      }

      .header__nav {
        margin-bottom: 22px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;

          li {

            a {}
          }
        }
      }
    }
  }
}

.cart {
  display: flex;
  align-items: center;

  &__icon {
    position: relative;
    margin-right: 28px;

    @media (max-width: 991px) {
      margin-right: 0;

      svg {
        display: block;
        width: 22px;
        height: 22px;
      }
    }
  }

  &__count {
    position: absolute;
    top: -3px;
    right: -8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #FFC85E;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 3px;
    border: 3px solid white;
    text-align: center;

    @media (max-width: 991px) {
      width: 17px;
      height: 17px;
      font-size: 10px;
      line-height: 12px;
      border: 1px solid white;
      padding: 1px;
    }
  }

  &__info {
    p {
      font-weight: 300;
      font-size: 12px;
      line-height: 150%;
      color: #3F4E65;
    }

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #111111;
    }

    @media (max-width: 1199px) {
      display: none;
    }
  }
}

.row {
  display: flex;
  align-items: center;

  .text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #3F4E65;
    max-width: 316px;
    padding: 20px 35px;
  }

  .price {
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    color: #111111;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 130%;
    }
  }



  .share {
    padding: 28px;
  }

  &-price {
    gap: 40px;
    flex-wrap: wrap;
  }

  &-share {
    gap: 10px;
    flex-wrap: wrap;
  }
}

.product {
  display: flex;
  gap: 40px;

  @media (max-width: 1199px) {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    color: #111111;
    margin-bottom: 10px;
    text-align: left;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 150%;
    }
  }



  &__img {
    width: 50%;
    max-width: 664px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      max-height: 500px;
    }
  }

  &__info {
    width: 50%;
    max-width: 628px;
    text-align: left;

    @media (max-width: 1199px) {
      max-width: 100%;
      width: 100%;
    }

    .availability {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #1FD85D;
      margin-bottom: 10px;
    }

    .size {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 16px;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #3F4E65;
      }
    }




    .description {
      margin-top: 30px;

      p {
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: #3F4E65;
      }
    }
  }



  .subtitle {
    color: #111111;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      margin-right: 5px;
    }
  }



}

.cartPage {
  &__products {
    margin-top: 50px;
    border-top: 1px dashed #3f4e6549;
    margin-bottom: 50px;

    @media (max-width: 1199px) {
      margin-top: 20px;
    }
  }

  >.row {
    justify-content: space-between;

    @media (max-width: 1199px) {
      flex-direction: column-reverse;
      gap: 25px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: space-between;
    border-bottom: 1px dashed #3f4e6549;

    @media (max-width: 1199px) {
      flex-direction: column;
    }


    .image {
      width: 281px;
      margin-right: 20px;
      text-align: center;

      img {
        max-width: 281px;
        max-height: 191px;
      }
    }

    .row {
      justify-content: flex-start;
      gap: 8px;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #3F4E65;
      }
    }

    .name {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #111111;
      margin-top: 9px;
      max-width: 480px;

      @media (max-width: 1199px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .info {
      text-align: left;
      margin-right: 80px;

      @media (max-width: 1199px) {
        margin-right: 0;
      }
    }

    .row__price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1199px) {
        width: 100%;
        max-width: 480px;
        justify-content: space-between;
        margin-top: 20px;
      }
    }

    .counter {
      margin-right: 70px;

      @media (max-width: 1199px) {
        margin-right: 0;
      }
    }

    .price {
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      color: #111111;
      margin-right: 85px;
      width: max-content;

      @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 130%;
        margin-right: 0;
      }
    }

    .del {
      margin-left: auto;

      @media (max-width: 1199px) {
        margin-left: 0;
      }
    }

  }

  .checkout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1111117c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;

    &__wrap {
      text-align: center;
      width: 735px;
      padding: 115px 104px 134px;
      background: #FFFFFF;
      border-radius: 8px;
      position: relative;

      img {
        margin-bottom: 24px;
      }

      .close {
        position: absolute;
        top: 36px;
        right: 36px;
      }

      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #3F4E65;
        margin-top: 20px;
      }
    }
  }
}

.footer {
  background: #3F4E65;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  color: white;
  margin-top: 100px;

  &__wrap {
    padding-top: 71px;
    padding-bottom: 116px;
    padding: 71px 0 116px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1199px) {

      padding: 15px 0;
    }

    .col__logo {
      width: 320px;

      .logo {

        @media (max-width: 1199px) {
          width: 97px;
          height: 41px;
        }
      }

      .row__logo {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .button {
        display: none;

        @media (max-width: 1199px) {
          display: flex;
          padding: 12px 30px;

          p {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }

      .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 45px;

        @media (max-width: 1199px) {
          font-size: 12px;
          line-height: 150%;
          margin-bottom: 15px;
        }
      }

      .sub {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
      }

      .search {
        max-width: 282px;
        width: 100%;
        margin-top: 14px;

        input {
          width: 100%;
        }
      }

      @media (max-width: 1199px) {
        width: 100%;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 380px);
    flex-wrap: wrap;

    @media (max-width: 1199px) {
      width: 100%;
      margin-top: 30px;
      gap: 25px;
    }

    .col {
      width: max-content;


      &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 25px;

        @media (max-width: 1199px) {
          margin-bottom: 20px;
        }
      }

      &__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-top: 20px;
        margin-bottom: 15px;
      }

      ul {
        li {
          margin-bottom: 20px;

          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;

            @media (max-width: 575px) {
              font-size: 12px;
              line-height: 150%;
            }
          }
        }
      }

      .message {
        display: flex;
        gap: 10px;
      }

      .contact {
        margin-bottom: 25px;

        .link {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          color: #FFFFFF;
        }

        .call {
          font-weight: 400;
          font-size: 10px;
          line-height: 150%;
          text-decoration-line: underline;
          margin-top: 5px;
          color: #FFFFFF;
        }

        p {
          font-weight: 300;
          font-size: 12px;
          line-height: 150%;
          margin-top: 5px;
        }
      }

      .cards {
        display: flex;
        gap: 5px;
      }


      @media (max-width: 1199px) {
        width: calc(50% - 15px);

        &__contacts {
          order: 3;
        }

        &__price {
          order: 4;
          padding-top: 30px;

          .col__title,
          .button {
            display: none;
          }
        }
      }

      @media (max-width: 575px) {

        &__contacts {
          max-width: calc(100% - 123px);
        }
      }
    }
  }
}


.counter {
  display: flex;
  align-items: center;
  width: 113px;
  justify-content: space-between;

  button {
    padding: 4px 12px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    color: #3F4E65;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    border-radius: 20px;
    cursor: pointer;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #3F4E65;
  }

}



.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFC85E;
  border-radius: 79px;
  padding: 21px 40px;
  width: max-content;
  color: white;
  cursor: pointer;
  transition: .3s linear;

  &:hover {
    background: #fdac09;
    transition: .3s linear;
  }

  svg, img {
    fill: white;
    max-width: 23px;
    max-height: 23px;
    margin-left: 12px;
  }

  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }

  &__white {
    background: white;
    display: flex;
    align-items: center;
    padding: 13px;

    p {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #3F4E65;
    }

    svg {
      fill: #3F4E65;
    }

    img {
      margin-right: 6px;
    }
  }

  &__cart {
    padding: 9px 25px;

    p {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.15em;
    }

    svg {
      margin-left: 0;
      max-height: 27px;
      max-width: 27px;
    }
  }
}


h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 120%;
  }
}

.pageCatalog {
  margin-top: 50px;

  @media (max-width: 1199px) {
    margin-top: 25px;
  }

  .row {
    justify-content: space-between;
    align-items: flex-end;

    .sort {
      @media (max-width: 1199px) {
        display: none;
      }
    }
  }



  >.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    gap: 11px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #3F4E65;
      padding: 18px 15px;
      box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
      border-radius: 10px;
      border: 1px solid #ffc95e00;
      cursor: pointer;
      transition: all .3s linear;

      &:hover {
        box-shadow: 0px 15px 70px -11px #ffc95e94;
        transition: all .3s linear;
      }

      &.active {
        background: #ffc95e41;
      }
    }

    @media (max-width: 1199px) {
      display: none;
    }
  }
}

.search {
  position: relative;

  input {
    font-family: 'Inter';
    background: #EDEDED;
    border-radius: 36px;
    padding: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #5C6370;
    width: 263px;

    ::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #5C6370;
    }
  }

  a {
    width: 39px;
    height: 39px;
    background: #FFC85E;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.catalog {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1199px) {
    flex-direction: column;
    margin-top: 20px;
  }

  &__wrap {
    width: calc(100% - 346px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1199px) {
      width: 100%;
    }

    .page {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 21px;

      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 575px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .pagination {
      display: flex;
      margin: 0 auto;
      margin-top: 50px;
      align-items: center;

      &__item {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          text-align: center;
          color: #3F4E65;
        }

        &.current {
          background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        }
      }

      .prev {
        margin-right: 35px;
        cursor: pointer;
      }

      .next {
        margin-left: 35px;
        cursor: pointer;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 42px 21px 29px 23px;
    transition: .3s linear;

    &:hover {
      box-shadow: 0px 14px 39px -11px #ffc95e86;
      transition: .3s linear;
    }

    >img {
      margin: 0 auto;
      display: block;
      margin-bottom: 4px;
    }

    >.row {
      justify-content: start;
      align-items: center;

      img {
        height: 15px;
        width: auto;
        margin-right: 5px;
      }

      >p {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #3F4E65;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;



      .name {
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #111111;

        b {
          font-size: 700;
        }
      }

      .row__price {
        margin-top: 15px;

        align-items: center;
        justify-content: space-between;

        .price {
          font-weight: 800;
          font-size: 16px;
          line-height: 130%;
          color: #111111;
        }
      }
    }

  }

  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
    text-transform: uppercase;

  }

  .filters {
    width: 238px;

    h2 {
      margin-bottom: 10px;

      @media (max-width: 1199px) {
        display: none;
      }
    }

    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #111111;
    }

    &__price {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 16px;

      input {
        font-family: 'Inter';
        padding: 4px;
        border-radius: 10px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #3F4E65;
        width: 100px;
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
      }
    }

    &__brand {
      margin-top: 30px;

      .search {
        margin-top: 15px;

        input {
          width: 100%;
        }
      }

      .brandList {
        margin-top: 15px;

        input {
          margin-right: 10px;
        }

        label {
          margin-bottom: 5px;
        }
      }

    }

    .button {
      margin-top: 25px;
    }

    .categories {
      margin-top: 40px;

      @media (max-width: 1199px) {
        margin-top: 20px;
      }

      p {
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #111111;
        width: max-content;
        margin-bottom: 10px;
        transition: .3s linear;

        &:hover {
          color: #FFC85E;
          transition: .3s linear;
        }

        &.active {
          color: #FFC85E;
        }

        @media (max-width: 991px) {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #3F4E65;
          text-transform: inherit;
        }
      }
    }

    .row {
      justify-content: start;
      gap: 10px;
    }

    .sort {
      display: none;

      @media (max-width: 1199px) {
        display: flex;
        margin-top: 25px;
      }
    }

    .clickable {
      display: none;

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
      }

      .arrow {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #ffc96577;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease;

        &.active {
          transform: rotate(180deg);
          transition: .3s ease;
        }
      }

      @media (max-width: 1199px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }
    }
  }
}


.catalog__item img {
  width: auto;
  height: 194px;
}


.del {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: #FFC85E;
  display: flex;
  align-items: center;
  justify-content: center;
}



.features {
  margin-top: 20px;

  .row {
    justify-content: start;
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
  }

  &__name {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #3F4E65;
    margin-right: 5px;
  }
}


.edit {
  &__item {
    display: block;
    padding: 10px;
    border: 1px solid #ffc95e7e;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;

    p {
      display: flex;
      width: max-content;
    }

    input,
    textarea {
      display: flex;
      width: 100%;
      font-family: "Inter";
      padding: 5px 20px;
      border: 1px solid #5c637021;
      border-radius: 20px;
    }

    textarea {
      height: 100px;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 65px;

  @media (max-width: 1199px) {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .breadcrumb-not-active {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #3F4E65;
    opacity: 0.5;
    padding: 0 10px;
  }

  .breadcrumb-active,
  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #3F4E65;
    padding: 0 10px;
    border-right: 1px dashed #3f4e6554;
  }

  .goBack {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      transform: rotate(-90deg);
    }

    .arrow {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #ffc96546;
      margin-right: 5px;
    }

    span {
      font-weight: 600;
      font-size: 10px;
      line-height: 120%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #3F4E65;

    }
  }
}

.sort {
  display: flex;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
    margin-right: 5px;
  }

  select {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3F4E65;
    cursor: pointer;


  }
}